@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-primary: #8f6edf;
  --ui-secondary: #383d7a;
  --ui-text-highlighted: #831eff;
}

.dark {
  --ui-primary: #8f6edf;
  --ui-secondary: #383d7a;
  --ui-text-highlighted: #e4842a;
}

/* Ensure proper layout for sticky footer */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  body {
    color: rgba(0, 0, 0, 0.9);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgba(255, 255, 255, 0.9);
  }
}

#__nuxt {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
